.site-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2em;
  font-size: 2rem;
  background-color: lightgray;
  color: white;
  text-align: center;
}