$mobile-breakpoint: 768px;
$tablet-breakpoint: 1280px;
$desktop-breakpoint: 1440px;

@import "form";

.main-container {
  max-width: 100%;
  padding: 0 1rem;
  margin: 3rem auto 5rem;

  @media screen and (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint){
    max-width: 60%;
    padding: 0;
  }

  @media screen and (min-width: $tablet-breakpoint) {
    max-width: 40%;
    padding: 0;
  }
}

.error-message {
  color: red;
  font-size: 1rem;
  font-weight: bold;
}

.app-btn {
  cursor: pointer;
}