.video-card {
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px 6px 2px black;;
    transition: box-shadow 0.5s ease-in-out;
  }

  .thumbnail-container {
    content: '';
    background-color: red;
    position: relative;
    padding-top: 56.25%;

    .thumbnail {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .details {
    margin-left: 1rem;
    .title {
      text-decoration: underline;
      font-size: 1.5rem;
      margin: 1rem 0 0.5rem;
    }

    .channel-title {
      font-size: 1rem;
    }
  }
}